[Unit]
Description=R3Net Global Server
After=network.target mosquitto.service

[Service]
Type=simple
User=j0s3m4
WorkingDirectory=/home/j0s3m4/r3net/global
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target